.inputWrapper {
  display: flex;
  flex-direction: column;
}

.inputLabel {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.inputContainer {
  position: relative;
  display: flex;
  align-items: center;
}

.customInput {
  width: 100%;
  height: 40px;
  padding: 0 12px;
  border: 1px solid #D0D5DD;
  border-radius: 20px;
  color: #002244;
  font-size: 16px;
}
.customInput:placeholder {
  color: #667085;
}
.customInput:hover {
  border: 2px solid #DEEAFF;
}
.customInput:hover::placeholder {
  color: #9DC2FF;
}
.customInput:active,
.customInput:focus {
  border: 1px solid #667085;
  outline: none;
  color: #0C2146;
}
.inputWithIcon {
  padding-left: 0;
}

.input-error .customInput {
  border-color: red;
}

.clearButton {
  position: absolute;
  right: 0.5rem;
  background: none;
  border: none;
  font-size: 1.2rem;
  cursor: pointer;
  color: #999;
}

.inputErrorMessage {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}