.input {
    height: 40px;
    padding: 0 12px;
    font-size: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    width: 220px;
    cursor: pointer;
}

.customCalendar {
    font-family: 'Pretendard', sans-serif;
    border-radius: 12px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: none;
    overflow: hidden;
}