.input {
    height: 32px;
    padding: 0 12px;
    font-size: 15px;
    border-radius: 1px;
    border: 1px solid #BBBBBB;
    width: 220px;
    cursor: pointer;
}

.customCalendar {
    font-family: 'Pretendard', sans-serif;
    border-radius: 8px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.1);
    border: none;
    overflow: hidden;
}