.header {
    display: flex;
    justify-content: end;
    align-items: center;
    padding: 10px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.name {
    display: inline-block;
    margin: 0 10px;
    padding-right: 10px;
    border-right: 1px solid #ccc;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.logout {
    padding: 5px 10px;
    background-color: #f44336;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}