.wrapper {
  display: flex;
  flex-direction: column;
  /* margin-bottom: 1rem; */
}

.label {
  margin-bottom: 0.5rem;
  font-weight: bold;
}

.container {
  position: relative;
  width: 100%;
}

select {
  outline: none;
}

option {
  border: 1px solid #0088ff;
  box-shadow: rgba(0, 0, 0, 0.25);
}

.select {
  width: 100%;
  padding: 0.5rem 1rem;
  color: #19191d;
  font-size: 14px;
  border: 1px solid #9dc2ff;
  border-radius: 4px;
  appearance: none;
  /* background-color: white; */
}

.select:hover {
  border-color: #1b4ea3;
}

.select:active,
.select:focus {
  border: 2px solid #2264d1;
}

.container::after {
  content: '';
  position: absolute;
  right: 1rem;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  color: #999;
  font-size: 0.8rem;
  width: 16px;
  height: 16px;
  background-image: url('../../../assets/icons/icon-select-default.svg');
  background-repeat: no-repeat;
  background-position: right center;
  background-size: 16px;
}

.container:hover::after {
  background-image: url('../../../assets/icons/icon-select-hover.svg');
}

.container:active::after {
  background-image: url('../../../assets/icons/icon-select-active.svg');
}

.error .select {
  border-color: red;
}

.errorMessage {
  color: red;
  font-size: 0.85rem;
  margin-top: 0.3rem;
}
